APP_NAME=NunuJal API
APP_ENV=development
FRONTEND_URL=http://localhost:5073
SERVER_PORT=8028
GOOGLE_REDIRECT_URI=http://localhost:8028/api/auth/google/callback
JWT_SECRET=dev-jwt-secret
JWT_EXPIRE_MINUTES=1440
SESSION_SECRET=dev-session-secret
GOOGLE_CLIENT_ID=dummy-google-client-id
GOOGLE_CLIENT_SECRET=dummy-google-client-secret
DATABASE_URL=postgresql+psycopg://YOUR_DB_USER:YOUR_DB_PASSWORD@YOUR_DB_HOST:YOUR_DB_PORT/YOUR_DB_NAME
